body{
    background-color: #279c9c;
    margin-left: 30px;
}

.menu{
    width: 80%;
    text-align: center;
    margin: 0 auto;
   
    
 
}
.menu > h2{
    font-family: fantasy;
    color: blue;
}



.itens > a{
    margin-right: 10px;
    font-size: 18px;
}
